.admin-product .search {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.admin-product .admin-add-btn {
    display: flex;
    justify-content: center;
    padding: 30px 0;
}

.admin-product .admin-add-btn a {
    border: none;
    outline: none;
    background-color: green;
    padding: 3px 20px;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
}

.admin-product .search div {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 0;
    border-radius: 3px;
    overflow: hidden;
    border: 3px solid green;
}

.admin-product .search input {
    border: none;
    outline: none;
}

.admin-product .search svg {
    color: #000;
    height: 25px;
    width: 25px;
}

.admin-product .search svg:first-child {
    margin: 5px 15px;
}

.admin-product .search svg:last-child {
    color: #fff;
}

.admin-product .search input {
    width: 100%;
    background-color: transparent;
    padding: 5px 0;
}

.admin-product .search div div {
    color: #000 !important;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100% !important;
    width: 80px;
    margin: 0;
    border-radius: 0;
}

.admin-product .porduct-contianer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

@media only screen and (min-width:200px) and (max-width:1300px) {

    .admin-product .porduct-contianer {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (min-width:200px) and (max-width:900px) {

    .admin-product .porduct-contianer {
        grid-template-columns: repeat(2, 1fr);
    }

    .admin-product .search svg:first-child {
        margin: 5px 10px !important;
    }

    .admin-product .search svg:last-child {
        color: #fff;
    }

    .admin-product .search input {
        padding: 3px 0 !important;
    }

   

}